Repository otabekoff/flux-lang: changes, and which lint-staged commands are due for each by the changed paths.
All: clang-format -i, prettier --write

.lintstagedrc.json:

{
    "*.{cpp,h,hpp}": ["clang-format -i"],
    "*.{js,ts,json,md}": ["prettier --write"]
}

feat(type): implement and test reference types (&T, &mut T); update docs and roadmap
  .github/copilot-instructions.md
  .github/workflows/deploy-docs.yml
  .idea/editor.xml
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  build_output.txt
  docs/guide/variables.md
  docs/reference_types.md
  ref_test.err
  ref_test.log
  src/semantic/resolver.cpp
  src/semantic/type.h
  tests/reference.cpp
Due: clang-format -i, prettier --write

fix(type): real AST mutability for reference types
  src/ast/ast.h
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  tests/reference.cpp
Due: clang-format -i

feat(type): add Option<T> and Result<T,E> type support with tests
  CMakeLists.txt
  README.dev.md
  src/ast/ast.h
  src/parser/parser.cpp
  src/parser/parser.h
  src/semantic/resolver.cpp
  src/semantic/type.h
  tests/lambda_parse.cpp
  tests/option_result.cpp
Due: clang-format -i, prettier --write

fix: ignore VSCode node_modules
  .gitignore
Due: none

feat: implement function types and closures resolution
  .agent/rules/code-quality.md
  .agent/rules/conventional-commits.md
  .agent/rules/documentation-and-tracking.md
  .agent/rules/general-workflow.md
  .agent/rules/implementation-rules.md
  .agent/rules/professional-standard.md
  .agent/rules/research-and-external-information.md
  .github/workflows/cmake-multi-platform.yml
  README.dev.md
  ROADMAP.md
  build_output.txt
  ref_test.err
  ref_test.log
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/type.h
  tests/type_checker/function_types.fl
Due: clang-format -i, prettier --write

feat: some changes
  .agent/rules/bidirectional-sync.md
  .agent/rules/extension-sync.md
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/msvc.yml
  .husky/pre-push
  README.dev.md
  ROADMAP.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/type_checker/option_result.fl
  tests/type_checker/option_result_error.fl
Due: clang-format -i, prettier --write

feat: new changes
  .github/workflows/deploy-docs.yml
  ROADMAP.md
  src/semantic/type.h
Due: clang-format -i, prettier --write

feat: very new fix
  .github/workflows/deploy-docs.yml
  CMakeLists.txt
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/type_checker/never_type.fl
Due: clang-format -i

feat: some new change
  .github/workflows/msvc.yml
  bun.lock
  docs/guide/ownership.md
  package.json
  src/semantic/type.h
  tests/lambda_parse.cpp
  tests/numeric_promotion.cpp
Due: clang-format -i, prettier --write

feat: final update
  bun.lock
  docs/.vitepress/cache/deps/_metadata.json
  docs/.vitepress/cache/deps/package.json
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js
  docs/.vitepress/cache/deps/vitepress___@vue_devtools-api.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_core.js.map
  docs/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js
  docs/.vitepress/cache/deps/vitepress___@vueuse_integrations_useFocusTrap.js.map
  docs/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js
  docs/.vitepress/cache/deps/vitepress___mark__js_src_vanilla__js.js.map
  docs/.vitepress/cache/deps/vitepress___minisearch.js
  docs/.vitepress/cache/deps/vitepress___minisearch.js.map
  docs/.vitepress/cache/deps/vue.js
  docs/.vitepress/cache/deps/vue.js.map
  docs/.vitepress/config.mts
  docs/guide/ownership.md
  docs/guide/variables.md
  docs/reference/types.md
  docs/reference_types.md
  package.json
Due: prettier --write

feat: workflows fixed
  .github/workflows/msvc.yml
Due: none

feat: msvc fix and vitepress fix
  .github/workflows/msvc.yml
  docs/.vitepress/config.mts
Due: none

feat: workflow fix
  .github/workflows/cmake-multi-platform.yml
  bun.lock
  package.json
Due: prettier --write

feat: fix workflow
  .github/workflows/cmake-multi-platform.yml
  README.md
Due: prettier --write

feat: final workflow fix
  .github/workflows/cmake-multi-platform.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/msvc.yml
  .github/workflows/version.yml
  README.dev.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ade1fa5c5868e8d3509adbfe93eb5a7752853f46
Due: none

fix: problems with worfkflows finally
  .github/workflows/cmake-multi-platform.yml
Due: none

fix: workflow to be ideal
  .github/workflows/cmake-multi-platform.yml
Due: none

Notes added by 'git notes add'
  cc8a98119ddc57bb0ea25e0e6b22a391abe08911
Due: none

feat: workflow fix
  .github/workflows/cmake-multi-platform.yml
  README.md
Due: prettier --write

Notes added by 'git notes add'
  d28572a2d5c5d4d074c8452898ad99e58b4212c1
Due: none

feat: implement robust type alias resolution with cycle detection and RAII scope management
  .vscode/settings.json
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  package-manager.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  test_out.txt
  tests/type_alias.cpp
Due: clang-format -i, prettier --write

feat: implement Never type propagation and unreachable code detection
  .agent/rules/self-asking-questions.md
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  src/semantic/resolver.cpp
  tests/never_propagation.cpp
Due: clang-format -i, prettier --write

docs: add parse_type [T; N] limitation note to ROADMAP
  ROADMAP.md
Due: prettier --write

feat: implement trait bound enforcement at call sites
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/trait_bound.cpp
Due: clang-format -i, prettier --write

fix: implement [T; N] array type parsing and fix arrow syntax highlighting
  ROADMAP.md
  editors/vscode/syntaxes/flux.tmLanguage.json
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  tests/never_propagation.cpp
Due: clang-format -i, prettier --write

feat: implement where clause validation for functions and impl blocks
  CMakeLists.txt
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/package.json
  src/ast/ast.h
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/where_clause.cpp
Due: clang-format -i, prettier --write

fix(vscode): correct arrow syntax highlighting to prevent split colors
  editors/vscode/syntaxes/flux.tmLanguage.json
Due: prettier --write

style(vscode): revamp syntax highlighting with C++ inspired patterns and scopes
  cpp.tmLanguage.json
  docs/.vitepress/flux.tmLanguage.json
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/syntaxes/flux.tmLanguage.json
Due: prettier --write

fix(vscode): correct arrow colors and restore block highlighting
  dark-modern-theme.json
  docs/.vitepress/flux.tmLanguage.json
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/syntaxes/flux.tmLanguage.json
Due: prettier --write

fix(vscode): unify arrow highlighting to prevent splitting and fix coloring
  docs/.vitepress/flux.tmLanguage.json
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/package.json
  editors/vscode/syntaxes/flux.tmLanguage.json
  examples/test.fl
Due: prettier --write

fix(vscode): unify arrows and move types higher to fix highlighting inconsistencies
  .vscode/settings.json
  docs/.vitepress/flux.tmLanguage.json
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/package.json
  editors/vscode/syntaxes/flux.tmLanguage.json
  examples/test.fl
Due: prettier --write

fix: configs
  .vscode/settings.json
  docs/.vitepress/config.mts
  editors/vscode/flux-lang-0.1.0.vsix
Due: prettier --write

fix(vscode): support angle brackets with correct arrow exclusion for bracket colorizer
  .vscode/settings.json
  docs/.vitepress/flux.tmLanguage.json
  editors/vscode/language-configuration.json
  editors/vscode/package.json
  editors/vscode/syntaxes/flux.tmLanguage.json
Due: prettier --write

fix(vscode): unify arrow colors and fix bracket matching whitelist
  .vscode/settings.json
  docs/.vitepress/flux.tmLanguage.json
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/language-configuration.json
  editors/vscode/syntaxes/flux.tmLanguage.json
Due: prettier --write

feat: implement where clause validation for structs, classes, enums and traits
  ROADMAP.md
  editors/vscode/flux-lang-0.1.0.vsix
  editors/vscode/package.json
  src/ast/ast.h
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/where_clause.cpp
Due: clang-format -i, prettier --write

feat(semantic): implement and verify monomorphization tracking for functions and types
  CMakeLists.txt
  ROADMAP.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/type.h
  test_out.txt
  tests/monomorphization.cpp
Due: clang-format -i, prettier --write

feat: implement associated types and resolution
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  src/ast/ast.h
  src/ast/ast_printer.cpp
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/type.h
  tests/associated_types.cpp
Due: clang-format -i, prettier --write

Notes added by 'git notes add'
  f02bfbbb410c809a61d8516a1cc8d171df5e88fa
Due: none
