Repository otabekoff/flux-lang: changes, and which lint-staged commands are due for each by the changed paths.
All: clang-format -i, prettier --write

docs: update installation guide, README, and trait documentation
  DOCS_REPORT.md
  README.md
  docs/guide/installation.md
  docs/guide/traits.md
  docs/reference/types.md
Due: prettier --write

feat: implement trait conformance and Self type validation
  CMakeLists.txt
  ROADMAP.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/trait_conformance.cpp
Due: clang-format -i, prettier --write

fix: resolve method call monomorphization tracking for dot-access calls
  CMakeLists.txt
  ROADMAP.md
  docs/.vitepress/config.mts
  docs/index.md
  docs/team.md
  src/ast/ast.h
  src/parser/parser.cpp
  src/parser/parser.h
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/monomorphization.cpp
  tests/trait_default_methods.cpp
  tests/trait_dispatch.cpp
Due: clang-format -i, prettier --write

fix(tests): resolve type_alias crash and enforce trait bounds in impls
  README.dev.md
  build_log.txt
  src/semantic/resolver.cpp
  tests/never_propagation.cpp
  tests/struct_field.cpp
  tests/trait_bound.cpp
  tests/type_alias.cpp
  tests/where_clause.cpp
Due: clang-format -i, prettier --write

feat(semantic): implement array indexing and slicing with slice type support
  CMakeLists.txt
  README.dev.md
  src/ast/ast.h
  src/ast/ast_printer.cpp
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  tests/index_slice.cpp
Due: clang-format -i, prettier --write

Notes added by 'git notes add'
  1b7250ccdc3a3f79c90948c6e5bd60a08756265e
Due: none

fix: resolve build errors and enforce trait bounds, visibility, and monomorphization
  CMakeLists.txt
  build_output.txt
  src/ast/ast.h
  src/lexer/diagnostic.h
  src/lexer/lexer.cpp
  src/lexer/token.h
  src/main.cpp
  src/parser/parser.cpp
  src/parser/parser.h
  src/semantic/monomorphizer.cpp
  src/semantic/monomorphizer.h
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/symbol.h
  src/semantic/type.h
  test_type.cpp
  tests/array_slice.cpp
  tests/associated_types.cpp
  tests/generic_method.cpp
  tests/generic_method_fail.cpp
  tests/option_result.cpp
  tests/orphan_rule.cpp
  tests/reference.cpp
  tests/struct_field.cpp
  tests/trait_default_generic.cpp
  tests/tuple.cpp
  tests/visibility.cpp
Due: clang-format -i

feat(semantic): implement move semantics and fix double-traversal regression
  CMakeLists.txt
  ROADMAP.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/scope.h
  src/semantic/symbol.h
  tests/move_semantics.cpp
Due: clang-format -i, prettier --write

Notes added by 'git notes add'
  99659a3ad3ee2ed599994c64697c70a521535026
Due: none

feat: implement range and or patterns in pattern matching
  CMakeLists.txt
  ROADMAP.md
  src/ast/ast.h
  src/lexer/lexer.cpp
  src/lexer/token.h
  src/parser/parser.cpp
  src/parser/parser.h
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/scope.h
  tests/move_semantics.cpp
  tests/pattern_matching.cpp
  tests/tuple.cpp
Due: clang-format -i, prettier --write

feat: implement nested pattern exhaustiveness checking
  ROADMAP.md
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/pattern_matching.cpp
Due: clang-format -i, prettier --write

feat(semantic): implement phase 1.6 control flow analysis
  CMakeLists.txt
  ROADMAP.md
  build_log.txt
  src/ast/ast.h
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/scope.h
  src/semantic/symbol.h
  test_output.txt
  tests/control_flow.cpp
  tests/pattern_matching.cpp
Due: clang-format -i, prettier --write

feat(semantic): implement phase 1.7 error handling validation
  CMakeLists.txt
  ROADMAP.md
  src/semantic/resolver.cpp
  tests/error_handling.cpp
Due: clang-format -i, prettier --write

feat(semantic): implement cross-module visibility enforcement
  ROADMAP.md
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  tests/visibility.cpp
Due: clang-format -i, prettier --write

feat(semantic): implement borrow checker and lifetime analysis
  CMakeLists.txt
  ROADMAP.md
  output.txt
  src/semantic/resolver.cpp
  src/semantic/scope.h
  src/semantic/symbol.h
  tests/ownership_borrowing.cpp
Due: clang-format -i, prettier --write

feat: implement source location tracking and Phase 1.9 concurrency hardening
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  build_errors.txt
  build_log.txt
  src/ast/ast.h
  src/parser/parser.cpp
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  src/semantic/symbol.h
  tests/concurrency.cpp
  tests/hardening_phase1.cpp
  tests/move_semantics.cpp
Due: clang-format -i, prettier --write

fix: handle LetStmt without initializer in resolver
  ROADMAP.md
  src/semantic/resolver.cpp
Due: clang-format -i, prettier --write

docs: mark Phase 1 review as complete in ROADMAP
  ROADMAP.md
Due: prettier --write

Notes added by 'git notes add'
  d9117175f934d89b720f26ba92365fc758f9ffa6
Due: none

feat: implement Flux IR (Phase 2)
  .vscode/settings.json
  CMakeLists.txt
  ROADMAP.md
  build_errors.txt
  build_log.txt
  build_output.txt
  cpp.tmLanguage.json
  dark-modern-theme.json
  output.txt
  src/ir/ir.h
  src/ir/ir_builder.cpp
  src/ir/ir_builder.h
  src/ir/ir_lowering.cpp
  src/ir/ir_lowering.h
  src/ir/ir_pass.h
  src/ir/ir_printer.cpp
  src/ir/ir_printer.h
  src/ir/passes/constant_folding.cpp
  src/ir/passes/constant_folding.h
  src/ir/passes/dead_code_elimination.cpp
  src/ir/passes/dead_code_elimination.h
  src/main.cpp
  test_output.txt
  tests/ir_basic.cpp
Due: clang-format -i, prettier --write

feat(ir): implement IR verifier and inliner passes
  CMakeLists.txt
  ROADMAP.md
  src/ir/ir_builder.h
  src/ir/passes/inliner.cpp
  src/ir/passes/inliner.h
  src/ir/passes/ir_verifier.cpp
  src/ir/passes/ir_verifier.h
  src/main.cpp
  tests/ir_basic.cpp
Due: clang-format -i, prettier --write

Notes added by 'git notes add'
  56468b5eca927e6114cda7c989b8a6a1d780d7fc
Due: none

feat(codegen): implement LLVM IR generation and verify linkage with system LLVM
  CMakeLists.txt
  README.dev.md
  setup_output.txt
  src/codegen/codegen.cpp
  src/codegen/codegen.h
  src/codegen/type_converter.cpp
  src/codegen/type_converter.h
  tests/codegen_basic.cpp
Due: clang-format -i, prettier --write

docs: update roadmap for Phase 3 LLVM codegen and verify full pipeline
  CMakeLists.txt
  README.dev.md
  ROADMAP.md
  examples/minimal_codegen.fl
  src/codegen/codegen.cpp
  src/codegen/type_converter.cpp
  src/ir/ir_builder.cpp
  src/main.cpp
Due: clang-format -i, prettier --write

fix: resolve null operand errors in LLVM IR for namespaced function calls
  CMakeLists.txt
  examples/ffi_test.fl
  setup_output.txt
  src/ast/ast.h
  src/codegen/codegen.cpp
  src/codegen/codegen.h
  src/driver/module_loader.cpp
  src/driver/module_loader.h
  src/ir/ir.h
  src/ir/ir_builder.cpp
  src/ir/ir_builder.h
  src/ir/ir_lowering.cpp
  src/lexer/lexer.cpp
  src/lexer/token.h
  src/main.cpp
  src/parser/parser.cpp
  src/parser/parser.h
  src/semantic/monomorphizer.cpp
  src/semantic/monomorphizer.h
  src/semantic/resolver.cpp
  src/semantic/resolver.h
  std/io.fl
Due: clang-format -i

Notes added by 'git notes add'
  8e60ab93fd9f2b368e2674e7f5fafa1e098cb665
Due: none

Path conditions:
  clang-format -i: any of: *.{cpp,h,hpp}
  prettier --write: any of: *.{js,ts,json,md}
